Django==4.2.4
django-filter==23.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
Markdown==3.4.4
Pillow==9.3.0
python-decouple==3.7
tensorflow==2.13.0

acme==2.2.0
attrs==22.1.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.4
certbot==2.2.0
certbot-nginx==2.2.0
certifi==2022.6.15
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.5
ConfigArgParse==1.5.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
distlib==0.3.6
distro==1.7.0
dj-database-url==1.2.0
django-environ==0.9.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
filelock==3.9.0
gunicorn==20.1.0
httplib2==0.20.4
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
importlib-resources==5.1.3
incremental==21.3.0
jeepney==0.8.0
Jinja2==3.0.3
josepy==1.13.0
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.6.0
keyring==23.8.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==2.0.1
more-itertools==8.10.0
oauthlib==3.2.0
parsedatetime==2.6
pexpect==4.8.0
Pillow==9.3.0
platformdirs==2.6.2
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyHamcrest==2.0.2
PyJWT==2.6.0
pyOpenSSL==21.0.0
pyparsing==3.0.7
pyRFC3339==1.1
pyrsistent==0.18.1
pyserial==3.5
python-decouple==3.7
python-magic==0.4.26
pytz==2022.6
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.27.1
SecretStorage==3.3.3
service-identity==18.1.0
six==1.16.0
sqlparse==0.4.3
ssh-import-id==5.11
Twisted==22.4.0
typing_extensions==4.4.0
tzdata==2022.7
urllib3==1.26.9
virtualenv==20.17.1
wadllib==1.3.6
whitenoise==6.3.0
zipp==1.0.0
zope.interface==5.4.0
